set show-all-if-ambiguous on
set colored-stats on
set visible-stats on
set mark-symlinked-directories on
set echo-control-characters off
set completion-ignore-case on
set show-mode-in-prompt off
set keyseq-timeout 0
set convert-meta on

# \C-k is bound in tmux to jump between splits
# \C-j is bound in tmux to jump between splits
# \C-l is bound in tmux to jump between splits
"\M-k":kill-line
"\M-j":backward-kill-line
"\M-l":clear-screen
