snippet vs "validates" b
validates ${1:what}, ${2:how}
endsnippet

snippet v "validate" b
validate ${1:method}
endsnippet

snippet hm "has many" b
has_many :$1
endsnippet

snippet bt "belongs to" b
belongs_to :$1
endsnippet
